*{
  box-sizing: border-box;
  font-family: "Letter Gothic Std";
}
.header{
  padding: 15px;
}
.title{
  margin-bottom: 50px;
}
.book-list h2{
  margin-bottom: 30px;
}
.row .col-md-6{
  color: #000;
}
.row p{
  font-size: 12px;
}
.col-md-6.col-xs-12{
  padding: 10px 10px;
}
.col-md-6 .featured-item{
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 15px;
  float: left;
  background: #ddd;
  padding: 10px;
}
.featured-item a{
  text-decoration: none;
  color: #245870;
  font-weight: bold;
}
.footer{
  margin-top: 50px;
  paddding: 15px;
}
.footer .row img{
  float: left;
  margin-right: 30px;
}
.footer-item{
  width: 30%;
}
.footer-item span{
  display: block;
  font-size: 20px;
  font-weight: bold;
}
.footer-item a{
  display: block;
  color: #333;
  text-decoration: none;
}
